RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://gustavoalvesdev.com.br/$1 [R,L]

Options -Indexes